//
// Buttons
// --------------------------------------------------

.button {
  background-color: palette(brand, accent);
  border-radius: rem-calc(30);
  color: palette(white);
  display: block;
  font-size: rem-calc(28);
  font-weight: $font-weight--medium;
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(12);
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: $ease-out-cubic;
  max-width: rem-calc(320);
  width: 100%;

  &:hover {
    background-color: palette(brand, light);
  }
}
